<div class="topbar">
    <div class="topbar-right">
        <div class="topbar-item">
            <button class="icon-button">
                <i class="fa fa-bell"></i>
                <span class="badge">3</span>
            </button>
        </div>
        <div class="topbar-item">
            <button class="icon-button">
                <i class="fa fa-envelope"></i>
                <span class="badge">5</span>
            </button>
        </div>
        <div class="topbar-item">
            <button class="icon-button">
                <i class="fa fa-sign-out-alt"></i>
            </button>
        </div>
    </div>
</div>